body {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: x-large;
  margin: 0;
  padding: 0;
  background-color: #e3e4e6;
}

.container {
  max-width: 700px;
  max-height: fit-content;
  margin: 0 auto;
  padding: 0px;
}

#PokemonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#PokemonContainer img {
  width: 95px; 
  height: auto; 
  object-fit: cover; 
  margin-top: 20px;
}

.PokemonButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
}

#PokemonResultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#PokemonResultsContainer img {
  width: 150px; 
  height: auto;
  margin-top: 10px;
  margin-left: 190px;
  margin-bottom: 15px;
}

#PokemonData {
  background-color: #fff;
  border-radius: 8px;
  padding: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.SmallText {
  font-size: 15px;
  color: #777;
}

#Type {
  font-weight: bold;
  margin-top: 10px;
  text-transform: capitalize;
}

#BasicInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#BasicInfo div {
  flex: 1;
  margin: 0 5px;
}

#Evolve {
  background-color: #007bff;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 15px;
  color: #fff;
  border: none;
  padding: 20px 40px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#Devolve {
  background-color: #ff3c00;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 15px;
  color: #fff;
  border: none;
  padding: 20px 40px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#Evolve:hover {
  background-color: #0056b3;
}

#Devolve:hover {
  background-color: #862001;
}

.Grass {
  color: #228c22;
}

.Fire {
  color: #d9534f;
}

.Water {
  color: #007bff;
}

.Electric {
  color: #ffc107;
}

canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
}
