body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    color: #333;
}

#canvas-container {
    position: relative;
    background: url('img/fondo.png') no-repeat center center fixed;
    background-size: cover;
    width: 390px;
    height: 844px;
}

canvas {
    display: block;
    margin: 0 auto;
    background: url('img/fondo.png') no-repeat center center fixed;
}

button {
  background-color: #a10000;
  color: white;
  border: none;
  width: 90px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px; /* Espacio entre los botones */
  display: inline-block; /* Para que estén uno al lado del otro */
}

button:hover {
  background-color: #b83030;
}
